name: Daily English Sentence

on:
  schedule:
    - cron: "*/5 * * * *"   # هر روز ساعت 9:30 صبح به وقت ایران (6 UTC)
  workflow_dispatch:      # تا بتونی دستی هم اجراش کنی

jobs:
  send:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run bot script
        env:
          TELEGRAM_TOKEN: ${{ vars.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ vars.TELEGRAM_CHAT_ID }}
        run: python send_message.py
