name: Daily English Sentence

on:
  schedule:
   - cron: "0 0,12 * * *"  # هر 5 دقیقه یکبار
  workflow_dispatch:          # اجرای دستی با دکمه

jobs:
  send:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install requests
        run: pip install requests

      - name: Run Telegram bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python - <<'EOF'
          import os
          import requests
          import random

          TOKEN = os.environ.get("TELEGRAM_TOKEN")
          CHAT_ID = os.environ.get("TELEGRAM_CHAT_ID")

          sentences = [
              "Success is not final, failure is not fatal: it is the courage to continue that counts.",
              "Believe you can and you're halfway there.",
              "Don’t watch the clock; do what it does. Keep going.",
              "The best way to predict the future is to create it.",
              "Every day is a new beginning. Take a deep breath and start again."
          ]

          message = random.choice(sentences)
          url = f"https://api.telegram.org/bot{TOKEN}/sendMessage"
          r = requests.post(url, json={"chat_id": CHAT_ID, "text": message})
          print("Response:", r.text)
          EOF
