name: Daily English Sentence

on:
  schedule:
    - cron: "*/5 * * * *"   # هر 5 دقیقه یک بار
  workflow_dispatch:          # برای اجرای دستی

jobs:
  send:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run bot script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python send_message.py
